body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}

#navbar{
	background-color: #272D4E;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 70px;
	margin-top: 5px;
}
.github{
	background-color: #FBC02D;
	color: #000;
	margin-top: 10px;
	margin-right: 10px;
}
.github:hover{
	background-color: #FBC02D;
	color: #000;
}
.inputBoxLocal{
	width: 40%;
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
	font-family: "Roboto"; 
}
.inputBoxFB{
	cursor: pointer;
	width: 40%;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}
#userOutput{
	width: 40%;
	margin-top: 30px;
}
.data{
	color: #B0B2B5;
}
.fbprop{
	color: #415095;
}
#userOutputName{
	color: #415095;
}
#userOutputDate{
	color: #415095;
}
#userOutputEmail{
	color: #415095;
}
#userOutputID{
	color: #415095;
}
  /* label color */
.input-field label {
     color: #FBC02D;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #FBC02D;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
.tabs{
	margin-top: 17px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #272D4E;
}
.tabs .tab a:hover{
	color: #272D4E;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FBC02D !important;
}
#fbPhoto{
	border-radius: 50%;
	height: 75px;
	width: 100px;
	border:1px solid;
	border-color: #EEEEEE;
}