body, html {
	font-family: "Roboto";
}

#navbar{
	background-color: #272D4E;
}
#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;

}
#inputBox{
	width: 30%;
	margin-top: 200px;
}
#btn{
	background-color: #272D4E;
	font-family: "Roboto"; 
}