body, html {
	font-family: "Roboto";
}

#navbar{
	background-color: #272D4E;
}
#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;

}
#inputBox{
	width: 40%;
	margin-top: 70px;
}
#btn{
	background-color: #414B82;
	font-family: "Roboto"; 
}
.facebook{
	color: #44619D;
	cursor: pointer;
	padding-bottom: 5px;
}
#userOutput{
	width: 40%;
}